@CHARSET "UTF-8";
#novaContent {
	background: url("images/backgroundMain.png") no-repeat;
	padding-top: 210px;
}

#midcolumn {
	width: 640px;
	padding: 0 10px 10px 10px;
}

#rightcolumn {
	width: 260px;
}


h3 {
	clear: both;
}

h7 {
	font-weight: bold;
	padding: 5px;
}

a strong {
	text-decoration: underline;
}


#novaContent {
	background: url("images/backgroundMain.png") no-repeat white;
	padding-top: 170px;
}

#introText p.left {
	width: 48%;
	float: left;
}

#introText p.right {
	width: 48%;
	float: right;
}

#feature_1 {
	float: left;
	width: 30%;
	margin-right: 3%;
}

#feature_2 {
	float: left;
	width: 30%;
	margin-right: 3%
}

#feature_3 {
	float: left;
	width: 30%;
}

#feature_4 {
	clear: both;
	float: left;
	width: 63%;
	margin-right: 3%;	
}

#feature_more {
	float: left;
	width: 30%;
}
	
#bigbuttons {
  position: relative;
  left: 420px;
  top: -170px;
}

#bigbuttons h3 {
  visibility: hidden;
}

#bigbuttons ul li {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#bigbuttons a {
  position: absolute;
  width: 250px;
  height: 77px;
  display: block;
  padding: 0;
  margin: 20px;
}

#bigbuttons a h4 {
  font-size: 16px;
  line-height: 15px;
  font-weight: bold;
  color: #333;
  padding: 0;
  margin: 12px 10px 4px 70px;
}

#bigbuttons a p {
  font-size: 13px;
  line-height: 14px;
  font-weight: normal;
  color: #444;
  padding: 0;
  margin: 4px 10px 5px 70px;
}

#bigbuttons a:hover {
  text-decoration: none;
}

#bigbuttons a:hover h4 {
  text-decoration: underline;
}

#bigbuttons div.buttonIcon {
  position: absolute;
  left: 12px;
  top: 13px;
  width: 50px;
  height: 50px;
}

#buttonDownload {
   background:transparent url("images/buttons.png") no-repeat 0 0;
   top: 0px;
   left: 280px;
}

#buttonDownload:hover {
   background:transparent url("images/buttons.png") no-repeat -250px 0;
}

#buttonDownload div.buttonIcon {
  background: transparent url( "images/button-icons.png" ) no-repeat 0 0;
}

#buttonDocumentation {
   background:transparent url("images/buttons.png") no-repeat 0 -77px;
   top: 0px;
   left: 0px;
}

#buttonDocumentation:hover {
   background:transparent url("images/buttons.png") no-repeat -250px -77px;
}

#buttonDocumentation div.buttonIcon {
  background: transparent url( "images/button-icons.png" ) no-repeat -50px 0;
}

#buttonSupport {
   background:transparent url("images/buttons.png") no-repeat 0 -77px;
   top: 87px;
   left: 280px;
}

#buttonSupport:hover {
   background:transparent url("images/buttons.png") no-repeat -250px -77px;
}

#buttonSupport div.buttonIcon {
  background: transparent url( "images/button-icons.png" ) no-repeat -100px 0;
}

#buttonInvolved {
   background:transparent url("images/buttons.png") no-repeat 0 -77px;
   top: 87px;
   left: 0px;
}

#buttonInvolved:hover {
   background:transparent url("images/buttons.png") no-repeat -250px -77px;
}

#buttonInvolved div.buttonIcon {
  background: transparent url( "images/button-icons.png" ) no-repeat -150px 0;
}

#headlines {
}

#headlines ul li {
	margin: 0 0;
	list-style-type: none;
	list-style-image: none;
}

	
#headlines div.title {
	display: inline;
	margin-right: 0.5em;
}

#headlines div.meta {
	display: inline;
	color: #444444;
	font-size: smaller;  
}

#headlines div.item {
	display: block;
	}
	
#screencast {
	margin-bottom: 10px;
}

#logo{position:relative;top:10px;}

span.sisu{position:relative;top:-120px;left:80px;}
.sisu div{position:absolute;}
.sisu-dot{width:12px;height:12px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px}
.sisu-0{width:268px;height:88px;border:2px solid #000;}
.sisu-1{left:25px;top:25px;background:#000;}
.sisu-2{width:60px;height:2px;left:30px;top:30px;background:#000;}
.sisu-3{width:60px;height:2px;top:60px;background:#000;}
.sisu-4{left:55px;top:55px;background:#000;}
.sisu-5{width:2px;height:90px;left:90px;background:#000;}
.sisu-6{width:2px;height:90px;left:120px;background:#000;}
.sisu-7{width:2px;height:60px;left:120px;background:#000;}
.sisu-8{left:115px;top:55px;background:#000;}

